
html {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
    font-family:$roboto;
}
body {
    @include font-size(1.6);
    color:$main-color;
    background:$background;
}

.o-content {
    display:grid;
    height: 100vh;
    grid-template-rows: $header-height 1fr;
}
.o-main{
    position:relative;
    @include breakpoint(tablet){
        display:flex;
        
    }
}
.o-header{
    display:flex;
    color:$header-color;
    @include gradient(to right, $header-bg);
    svg {
            fill:$header-color;
    }
} 

