/* button footer */
%cta {
    cursor:pointer;
    min-height: 42px;
    min-width: 42px;
}
.c-search--cta {
    @extend %cta;
}
.c-menu--cta{
    @extend %cta;
    @include breakpoint(tablet){
        display:none;
    }
}
.c-card--add--cta{
    @extend %cta;
    @extend %center;
    @include font-size(1.6);
    color:$c-add-card;

    svg{
        fill:$c-add-card;
    }
}
.c-task--add--cta {
    @extend %cta;
    @include border-radius(50%);
    @include box-shadow( 0px, 3px, 8px, 0px, rgba(0,0,0,0.2));
    @extend %center; 
    background:$main-color;
    bottom:1em;
    height:6rem;
    position:absolute;
    min-height:0;
    right:2em;
    width:6rem;

    svg {
        fill:$white;
    }

    @include breakpoint(tablet--er){
        bottom:2em;
    }
}
.c-notification--cta{
    @extend %cta;
    position:relative;

    &:before {
        content:'';
        @include border-radius(50%);
        @include box-shadow(2px, 2px, 8px, 3px, rgba(161, 253, 255,0.4));
        background:#A1FDFF;
        height:6px;
        position:absolute;
        right:6px;
        top:6px;
        width:6px;
    }
}