.c-card--item {
    @include border-radius(4px);
    @include box-shadow( 0px, 2px, 20px, 0px, rgba(0,0,0,0.2));
    background:$card-bg;
    padding:0.4rem 1em;
    margin-bottom:2rem;
    position:relative;
    overflow:hidden;
    width:100%;

    &:after{
        content:'';
        height:4px;
        left:0;
        position:absolute;
        top:0;
        width:100%;
    }

    @include breakpoint(tablet){
        width: 94%;
    } 
    .c-cards--list--Backlog & {
    @extend .c-card--item;
        &:after,.c-task--status,.c-task--user {
            @include gradient(to right, $task1-bg);
        }
    }
    .c-cards--list--Progress & {
        @extend .c-card--item;
        &:after,.c-task--status,.c-task--user {
            @include gradient(to right, $task2-bg);
        }
    }
    
    .c-cards--list--Review & {
        @extend .c-card--item;
        &:after,.c-task--status, .c-task--user{
            @include gradient(to right, $task3-bg);
        }
    }
    
    .c-cards--list--Complete &{
        @extend .c-card--item;
        &:after,.c-task--status, .c-task--user {
            @include gradient(to right, $task4-bg);
        }
    }
}


.c-card--title{
    @include font-size(2);
    padding: 2rem 0;
    font-weight: 400;
}
.c-task {
    background:$white;
    padding:1rem;

    &--actions{
        @extend %center-vertical;
    }
    &--comments, &--adj{
        @extend %center-vertical;
        @include font-size(1.2);
        color:#A8A7BA;
        margin-right:1rem;

        svg {
            margin-right:0.5rem;
            fill:#A8A7BA;
            width:1.4rem;
        }
        

    }
    &--user {
        @include border-radius(50%);
        @extend %center;
        height:3rem;
        margin-left:auto;
        width:3rem;

        svg {
            height:2rem;
            fill:$white;
        }
    }
    &--status {
        @include border-radius(3px);
        @include font-size(1.2);
        color:$white;
        font-weight: normal;
        height:2rem;
        line-height: 2rem;
        text-align:center;
        margin-bottom:2rem;
        width:8.5rem;

    }
    &--message {
        margin-bottom:1.5rem;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap;
    }
}
.c-card--addtask{
    @extend %center;
    padding:2.5rem 0 2rem;
}

.c-card--add--text{
    margin-right:1rem;
}

.c-newblock {
    margin-top:1rem;
}