.c-dashboard {
    padding: 3rem 2rem;
    width: 100%;
}
.c-dashboard--h2{
    @include font-size(2.8);
    font-weight: 300;
    margin-bottom: 3rem;
}
.c-dashboard--rails {
    display:flex;
    flex-direction:column;
    @include breakpoint(tablet){

        flex-direction:row;
        justify-content: space-between;
        padding:0;
    }
}
section[class^="c-cards--list--"] {
    @extend %center-vertical;
    @include breakpoint(tablet){
        width:25%;
        align-items: flex-start;
    }
}
