.c-header {
    @extend %center-vertical;
    
    &--logo, &--searcher, &--notifications, &--user {
        @extend .c-header;
    }
    &--user {
        @extend %center;
        flex:1;
        margin-left:auto;
    }
}

.c-header--logo {
    @include gradient(to left, $menu-bg);
    padding: 0 2rem 0 1rem;
    @include breakpoint(tablet){
        
        justify-content:center;
        padding:0;
        width:12rem;
    }

}

.c-header--user{
    flex: 100px 1 1;
    margin-left: auto;
    max-width: 100px;
    @include breakpoint(tablet){
        flex-grow: 0;
        padding:0 3rem 0 2em;max-width:none;
    }
    
}

.c-user--name {
    @include font-size(1.4);
    font-weight:300;
    display:none;
    margin-right:1rem;
    white-space: nowrap;
    @include breakpoint(tablet){
        display:block;
    }
}
.c-user--avatar{
    @include border-radius(50%);
    @extend %center;
    background:#9B9B9B;
    height:30px;
    width:30px;
}
.c-header--searcher, .c-header--notifications {
    padding:0 1rem;
    position:relative;
    svg {
        width: 2rem;
    }

   
    &:after {
        content:'';
        background:rgba(255,255,255,0.3);
        height:100%;
        right:0;
        position:absolute;
        top:0;
        width: 1px;
    }
} 
.c-header--searcher {
    
    @include breakpoint(tablet){
        flex-grow:1;

        input {
            display:block;
        }
    }
}

.c-input--searcher{
    @include font-size(1.4);
    border:none;
    background:none;
    color:$white;
    display:none;
    font-weight:300;
    margin-left:0.5rem;
    outline:none;
    &::placeholder {
        color:$white;
    }
    @include breakpoint(tablet){
        display:inline-block;
    }
}