.c-nav {
    background:$white;
    height:100vh;
    display:none;

    @include breakpoint(tablet){
        display:flex;
        height:calc(100vh - 60px);
    }
}
.c-nav--list {
    @include breakpoint(tablet){
        display:flex;
        flex-direction:column;
    }
}
.c-nav--item {
    &:last-of-type {
        margin-top:auto;
    }
}
.c-nav--link {
    @extend %center-vertical;
    color:$menu-color;
    height:4.4rem;
    padding:0 1rem;
    outline:none;
    text-decoration:none;
    position:relative;

    @include breakpoint(tablet){
        flex-direction:column;
        justify-content: center;
        height:100px;
        width:120px;

        
    }

    svg {
        fill:$menu-color;
        margin-right:0.5rem;
    }

    &:hover, &:active {
        svg {
            fill:$menu-color-hover;
        }
        &:before {
            content:'';
            background:$menu-color-hover;        
            height:100%;
            left:0;
            position:absolute;
            width:0.3rem;

            @include breakpoint(tablet){
                @include gradient(to top, $header-bg);
            }
        }
    }
}
.is_Open {
    .c-nav {
        display:block;
    }
}