/*********************
BREAKPOINTS
*********************/
@mixin breakpoint($point) {
  @if $point == desktop--lg {
    @media screen and (min-width: 1224px) {
      @content;
    }
  }
 @if $point == desktop {
   @media screen and (min-width: 1025px) {
     @content;
   }
  }
  @else   if $point == tablet {
   @media (min-width: 768px) {
     @content;
   }
  }
}

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
  }

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
  }