@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

$roboto:'Roboto',serif;
$header-height: 60px;
$header-color:#fff;
$background:#EFF2F9;

  /* COLOR VARIABLES
============================================= */
$main-color:#9898AE;
$white:#fff;

$menu-color:#CBCFD6;
$menu-color-hover:#87A0DB;

$menu-bg-start:#878EDB;
$menu-bg-end:#7A93DC;
$header-bg-start:#9AA7FB;
$header-bg-end:#71B3F8;

$card-bg:#F6F8FC;
$card1-start:#CE8CED ;
$card1-end:#DF768D;

$card2-start:#FCA393 ;
$card2-end:#FEB84C;

$card3-start:#9EA7FC ;
$card3-end:#6DB4F7;

$card4-start:#7FD5A9 ;
$card4-end:#82D6EE;

$c-add-card:#9293AA;

/* gradients list */
$menu-bg: $menu-bg-start, $menu-bg-end; 
$header-bg: $header-bg-start, $header-bg-end; 

$task1-bg: $card1-start, $card1-end; 
$task2-bg: $card2-start, $card2-end; 
$task3-bg: $card3-start, $card3-end; 
$task4-bg: $card4-start, $card4-end; 
/*
$list3: $blue 0%,$blue 10%,$green 25%,$green 39%,$orange 79%,$orange 100%; 

$list4: $blue, $green, $orange, $blue, $green, $orange, $blue, $green, $orange; 
/*
menu1 - #888EDA
menu2 - #7A92DB
#8EABFA #84ADF9
border #A2C2FB

#84AEF9 #7BAFF8
#90BCF9 #72B3F8

notification #A1FFFF
bg user #9B9B9B

bg #EEF2F9

color #706F90

Cards 
Gradients
#CE8CED #DF768D
#FCA393 #FEB84C
#9EA7FC #6DB4F7
#7FD5A9 #82D6EE

card bg #F6F8FC
color card #9899B0*/
