.App {
    text-align: center;
    width: 95%;
    margin: 15px auto;
  }
  
  .container-drag {
    text-align: center;
    display:flex;
    flex-direction: row;
  }
  
  .wip {
    width: 150px;

    background-color: #EEEEEE;
    border-right: 1px dotted;
  }
  
  .header {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
    width:100%;
  }
  
  .task-header {
    display: inline-block;
    background-color: skyblue;
    width:100%;
  }
  
  .droppable {

    width: 150px;
    height: 100vh;

    background-color: #9E9E9E;
    border-left: 1px dotted;
  }
  
  .draggable {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px auto;
    line-height: 5em;
  }
  